.Product {
  min-width: 320px;
  height: auto;
  margin: 25px 0 0 0;
}
.Product__route a {
  display: inline-block;
  margin-bottom: 15px;
  color: var(--black);
}
.Product__route {
  padding: 0 0 0 20px;
}
.Product__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}
.Product__content__one {
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.Product__content__one__img {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.Product__content__one__img--img {
  width: 300px;
  height: 300px;
}
.Product__content__one__img__all {
  width: 300px;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 20px 0;
}
.Product__content__one__img__all--img {
  width: 100px;
  padding-right: 10px;
  cursor: pointer;
}
.Product__content__one__text {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.Product__content__one__text__one {
  border-bottom: 1px solid var(--one);
}
.Product__content__one__text__one--h1 {
  color: var(--nine);
  text-transform: uppercase;
  margin: 14px 0;
}
.Product__content__one__text__one--span {
  font-size: 1.2rem;
  color: var(--five);
}
.Product__content__one__text__one--a {
  display: inline-block;
  margin: 0 10px;
  color: var(--black);
  cursor: pointer;
}
.Product__content__one__text__one__price {
  display: flex;
  align-items: center;
}
.Product__content__one__text__one__price--h3-price {
  font-size: 1.2rem;
  color: var(--blackDark);
}
.Product__content__one__text__one__price--span-discount {
  color: var(--four);
  text-decoration: line-through 1px var(--white);
  margin: 5px 0 0 3px;
  font-size: 0.7rem;
  font-weight: bold;
}
.Product__content__one__text__one__price--span-porcentage {
  color: var(--white);
  background-color: var(--eigth);
  padding: 5px;
  margin: 0 10px;
}
.Product__content__one__text__two {
  border-bottom: 1px solid var(--one);
  padding: 15px 0;
}
.Product__content__one__text__two__form select {
  background-color: var(--four);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0 20px 0 0;
}
.Product__content__one__text__three {
  border-bottom: 1px solid var(--blackDark);
  padding: 10px 0;
}
.Product__content__one__text__three--btn {
  width: 100%;
  border: none;
  background-color: var(--four);
  padding: 10px 25px;
  color: var(--white);
  box-shadow: var(--shadow);
  font-size: 1.3rem;
  font-weight: lighter;
  cursor: pointer;
  transition: 500ms all;
}
.Product__content__one__text__three--btn:hover {
  background-color: var(--one);
}
.Product__content__one__text__two__quantity {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}
.Product__content__one__text__two__quantity--p {
  font-size: 1.2rem;
  color: var(--black);
  margin: 0 10px 0 0;
}
.Product__content__one__text__two__quantity--res {
  margin: 0 10px 0 0;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--four);
  color: var(--white);
}
.Product__content__one__text__two__quantity--accountant {
}
.Product__content__one__text__two__quantity--sum {
  margin: 0 0 0 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--four);
  color: var(--white);
}
.Product__content__one__text__two__quantity--stock {
  margin: 0 0 0 10px;
  color: var(--black);
  font-size: 1.2rem;
}
/* Details */
.Product__content__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}
.Product__content__details__box {
}
.Product__content__details__box__hidden {
  max-height: 70px;
  max-width: 600px;
  overflow: hidden;
  -webkit-transition: 2s max-height ease;
  transition: 2s max-height ease;
  margin: 10px 0;
}
.Product__content__details__box__hidden:hover {
  max-height: 1000px;
}
.Product__content__details__box__hidden__title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--four);
  color: var(--white);
}
.Product__content__details__box__hidden__title--h2 {
  font-size: 1rem;
}
.Product__content__details__box__hidden__title--arrow {
}
.Product__content__details__box__hidden__description {
  display: flex;
  align-items: center;
  padding: 10px;
}
.Product__content__details__box__hidden__description--tick {
  display: block;
  background-color: var(--four);
  color: var(--white);
  border-radius: 100%;
  font-size: 1.2rem;
  margin: 10px;
}
.Product__content__details__box__hidden__description--li {
  list-style: none;
  font-size: 0.8rem;
  color: var(--blackDark);
}
.Product__content__details__box__img {
  max-width: 600px;
  margin: 0 auto;
}
.Product__content__details__box__img--img {
  max-width: 600px;
  width: 100%;
}
/* Video */
.Product__content__video {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
}
.Product__content__video .Product__content__video--video {
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  height: 100%;
}
/* Reviews */
.Product__content__reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}
.Product__content__reviews__one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.Product__content__reviews__one__text {
}
.Product__content__reviews__one__text--h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blackDark);
  margin: 5px;
}
.Product__content__reviews__one__text--p {
  width: 80%;
  margin: 0 auto;
}
.Product__content__reviews__one__value {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Product__content__reviews__one__value__cube {
  background-color: var(--five);
  padding: 10px 5px;
  color: var(--white);
}
.Product__content__reviews__one__value__cube--h3 {
  margin: 0;
  font-size: 1.5rem;
  padding: 5px 10px;
}
.Product__content__reviews__one__value__cube--p {
  margin: 0;
  font-size: 0.9rem;
  padding: 5px 10px;
}
.Product__content__reviews__one__value__starts {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 30px;
}
.Product__content__reviews__one__value__starts--span {
  font-size: 2rem;
  color: var(--five);
  padding-top: 20px;
}
.Product__content__reviews__one__value__starts--h4 {
  color: var(--blackDark);
}
.Product__content__reviews__two {
}
.Product__content__reviews__two__content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.Product__content__reviews__two__content__nameystar {
  display: flex;
  align-items: center;
  width: 100%;
}
.Product__content__reviews__two__content__nameystar--p {
  margin: 0 15px 0 0;
  padding: 0 10px;
}
.Product__content__reviews__two__content__nameystar--p img {
  width: 50px;
  height: 20px;
  margin: 0 10px 0 0;
}
.Product__content__reviews__two__content__nameystar__star {
}
.Product__content__reviews__two__content__nameystar__star--span {
  font-size: 1.5rem;
  color: var(--five);
}
.Product__content__reviews__two__content__img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Product__content__reviews__two__content__img--img {
  width: 94px;
  padding: 4px 6px;
}
.__two__content__description--p {
  padding: 0 10px;
}
