.Benefit {
  min-width: 320px;
  width: 100%;
  background-color: var(--blackDark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 5px solid var(--white);
}
.Benefit__one,
.Benefit__two,
.Benefit__three {
  text-align: center;
  margin: 5px 5px;
}
.Benefit__one--h2,
.Benefit__two--h2,
.Benefit__three--h2 {
  font-weight: bold;
  font-size: 1rem;
}
.Benefit__one--h2--icon,
.Benefit__two--h2--icon,
.Benefit__three--h2--icon {
  font-size: 2rem;
  margin-bottom: -10px;
  margin-right: 5px;
}
.Benefit__one--h3,
.Benefit__two--h3,
.Benefit__three--h3 {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-top: -10px;
}
