.Countdown {
}
.Countdown__text h4 {
  color: var(--blackDark);
}
.Countdown .Countdown__time {
  display: flex;
}
.Countdown--days,
.Countdown--hours,
.Countdown--minutes,
.Countdown--seconds {
  margin: 0 10px 0 0;
  background-color: var(--four);
  color: var(--white);
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
}
.Countdown__time__div__time {
  font-size: 0.9rem;
  color: var(--blackDark);
  margin: 15px 10px 0 0;
  text-align: center;
}
