.Faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}
.Faq__content {
  max-height: 70px;
  max-width: 600px;
  overflow: hidden;
  -webkit-transition: 2s max-height ease;
  transition: 2s max-height ease;
  margin: 10px 0;
}
.Faq__content:hover {
  max-height: 1000px;
}
.Faq__content__title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--four);
  color: var(--white);
}
.Faq__content__title--h2 {
  font-size: 1rem;
}
.Faq__content__title--arrow {
}
.Faq__content__description {
  padding: 0 10px;
}
.Faq__content__description--p {
  font-size: 0.9rem;
  color: var(--blackDark);
}
