.Footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
}
.Footer__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--one);
}
.Footer__content__others {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Footer__content__others div {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}
.Footer__content__others a {
  color: var(--white);
  text-decoration: none;
}
.Footer__content__others h3 {
  color: var(--white);
}
.Footer__content__payment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Footer__content__social {
  display: block;
  font-size: 1.9rem;
}
.Footer__content__social:hover {
  color: var(--three);
}
.Footer__content__social a {
  text-decoration: none;
  transition: 1s all ease;
  color: var(--white);
}
.Footer__content__social a:hover {
  color: var(--six);
}
.Footer__content__social--icon {
  margin: 10px 20px;
}
.Footer__content__payment__one,
.Footer__content__payment__two {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.Footer__content__payment__one h3,
.Footer__content__payment__two h3 {
  margin: 0px 10px 0px 0px;
  font-size: 0.9rem;
  color: var(--white);
}
.Footer__content__payment__one--icon,
.Footer__content__payment__two--icon {
  font-size: 1.9rem;
  margin: 0px 10px;
  color: var(--white);
}
.Footer__foot {
  padding: 20px;
  background-color: var(--four);
  text-align: center;
  color: var(--white);
}
