:root {
  --one: #ffffff;
  --two: #3e3f41;
  --three: #eeeeee;
  --four: #000000;
  --five: #222222;
  --six: #007bff;
  --seven: #6c757d;
  --eigth: #e2e2e2;
  --nine: #54707b;
  --font: Roboto, sans, sans-serif, Arial, Calibri, Helvetica, Verdana, Courier,
    Georgia, Palatino, Times New Roman;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  background-color: var(--one);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
