.Navegation {
  position: relative;
  top: 0;
  width: 100%;
  box-shadow: var(--shadowColor);
  z-index: 1000;
  color: var(--blackDark);
}
.Navegation__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  background-color: var(--four);
}
.Navegation__content__menu {
}
.Navegation__content__menu__icon div {
  height: 4px;
  width: 30px;
  border-radius: 100px;
  background-color: var(--white);
  cursor: pointer;
  transition: 500ms all ease;
}
.line2,
.line3 {
  margin: 4px 0 0 0;
}
.active .line1 {
  transform: rotate(45deg) translateX(6px) translateY(1px);
}
.active .line2 {
  display: none;
}
.active .line3 {
  transform: rotate(-45deg) translateX(5px) translateY(0px);
}
.Navegation__content__menu__content__nav {
  position: fixed;
  top: 108px;
  left: 0;
  height: 100%;
  background-color: var(--four);
  transform: translateX(-100%);
  transition: all 1s ease;
}
.Navegation__content__menu__content__nav__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Navegation__content__menu__content__nav__ul__li {
  padding: 10px;
  background-color: var(--white);
  border-bottom: 1px solid var(--four);
}
.Navegation__content__menu__content__nav__ul__li a {
  display: block;
  color: var(--blackDark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0 30px 0px 5px;
  margin: 0;
}
.Navegation__content__logo a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
}
.Navegation__content__logo a img {
  width: 160px;
  height: 90px;
  margin: 0 0 0 -25px;
  cursor: pointer;
}
.Navegation__content__card__one--icon {
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
}
.Navegation__content__card__one--span {
  position: absolute;
  top: 25px;
  right: 13px;
  background-color: var(--one);
  padding: 2px 9px;
  border-radius: 100%;
  color: var(--white);
}
.Navegation__content__card__two {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 320px;
  max-width: 320px;
  height: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: all 1s ease;
}
.Navegation__content__card__two__one__content {
  border-bottom: 3px solid var(--four);
  margin: 0 20px;
}
.Navegation__content__card__two__one__content__text {
  font-size: 0.9rem;
  text-align: center;
  color: var(--blackDark);
  font-weight: bold;
}
.Navegation__content__card__two__one__content__x {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 1.8rem;
  cursor: pointer;
}
.Navegation__content__card__two__one__content__x:hover {
  color: var(--four);
}
.Navegation__content__card__two__three {
  position: absolute;
  bottom: 0;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Navegation__content__card__two__three__one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Navegation__content__card__two__three__two a {
  border: none;
  background-color: var(--four);
  padding: 10px 15px;
  color: var(--white);
  box-shadow: var(--shadow);
  font-size: 1.3rem;
  font-weight: normal;
  cursor: pointer;
  transition: 500ms all;
}
.Navegation__content__card__two__three__two a:hover {
  background-color: var(--five);
}
.Navegation__content__card__two__three__three {
  margin: 10px 0;
  color: var(--black);
}
.toggle {
  transform: translateX(0%) !important;
}
.toggleCart {
  transform: translateX(0%) !important;
}
.Navegation__content__card__two__two {
  overflow-y: scroll;
  height: 65vh;
}
.Navegation__content__card__two__two__product {
  display: block;
  max-width: 320px;
  min-width: 300px;
  height: auto;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px dashed var(--four);
}
.Navegation__content__card__two__two__product__img {
}
.Navegation__content__card__two__two__product__img--img {
  width: 90px;
  height: 90px;
}
.Navegation__content__card__two__two__product__information {
}
.Navegation__content__card__two__two__product__information__one {
}
.Navegation__content__card__two__two__product__information__one--h3 {
  color: var(--blackDark);
  font-weight: bold;
  font-size: 1.4rem;
  margin: 5px 0 0 10px;
}
.Navegation__content__card__two__two__product__information__one__details {
  color: var(--black);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.Navegation__content__card__two__two__product__information__one__details--span {
  margin: 0 10px;
}
.Navegation__content__card__two__two__product__information__two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.Navegation__content__card__two__two__product__information__two__quantity {
}
.Navegation__content__card__two__two__product__information__two__quantity--res {
  margin: 0 10px 0 0;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--four);
  color: var(--white);
  border: none;
}
.Navegation__content__card__two__two__product__information__two__quantity--span {
  color: var(--black);
  font-size: 1rem;
  font-weight: normal;
}
.Navegation__content__card__two__two__product__information__two__quantity--sum {
  margin: 0 0 0 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--four);
  color: var(--white);
  border: none;
}
.Navegation__content__card__two__two__product__information__two__price {
}
.Navegation__content__card__two__two__product__information__two__price--h3 {
  color: var(--black);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 5px;
}
.isEmpty {
  font-size: 1.26rem;
  margin: 20px 20px;
  color: var(--blackDark);
  font-weight: bold;
}
