.Products {
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  background-color: var(--twelve);
}
.Products__title--a {
  font-size: 1.9rem;
  color: var(--thirteen);
  cursor: pointer;
  transition: 1s all ease;
}
.Products__title--a:hover {
  color: var(--fourteen);
}
.Products__content {
}
