.Product {
  width: 150px;
  height: 260px;
  margin: 20px;
}
.Product__content {
  position: relative;
}
.Product__content__img {
  width: 130px;
  height: 260px;
}
.Product__content__img--img {
  width: 100%;
  height: 100px;
}
.Product__content__text {
  position: absolute;
  top: 85px;
  width: 100%;
  color: var(--fiveteen);
}
.Product__content__text__name {
}
.Product__content__text__name--h3 {
}
.Product__content__text__info {
  display: flex;
}
.Product__content__text__info__star {
}
.Product__content__text__info__star--span {
  color: var(--ten);
  font-size: 1rem;
}
.Product__content__text__info__reviews {
}
.Product__content__text__info__reviews--span {
}
.Product__content__text__cost {
}
.Product__content__text__cost--span {
}
